{% extends "base.html" %}
{% block content %}

<div class="col-xs-6 col-xs-offset-3" id="input_box">
    <div class="input-group">
        <div class="input-group-btn">
            <div class="input-group-btn">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> MD5 <span class="caret"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">MD5</a></li>
                    <li><a href="#">SHA1</a></li>
                    <li><a href="#">SHA224</a></li>
                    <li><a href="#">SHA256</a></li>
                    <li><a href="#">SHA384</a></li>
                    <li><a href="#">SHA512</a></li>
                </ul>
            </div>
        </div>
        <input id="string_input" type="text" class="form-control">
        <div class="input-group-btn">
            <button id="hash_button" type="button" class="btn btn-default">Get hash</button>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="alert alert-info result_div" role="alert"></div>
        </div>
    </div>
</div>

{% endblock %}
