{% extends "base.html" %}
{% block content %}
<div class="col-xs-6 col-xs-offset-3" id="input_text_box">
    <div class="form-group">
        <textarea class="form-control" rows="5" id="text_input"></textarea>
    </div>
    <div class="input-group">
        <div class="input-group-btn">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> MD5 <span class="caret"></span></a>
            <ul class="dropdown-menu pull-left">
                <li><a href="#">MD5</a></li>
                <li><a href="#">SHA1</a></li>
                <li><a href="#">SHA224</a></li>
                <li><a href="#">SHA256</a></li>
                <li><a href="#">SHA384</a></li>
                <li><a href="#">SHA512</a></li>
            </ul>
            <button id="hash_text_button" type="button" class="btn btn-default">Get hash</button>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="alert alert-info result_div" role="alert"></div>
        </div>
    </div>
</div>

{% endblock %}
